<div class="mt-4">

  <h3>THÙNG RÁC</h3>
  <a href="/me/stored/courses">Quay lại</a>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @key 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td><a class="btn btn-primary js-restore-btn" id="restore-btn" data-bs-id="{{this._id}}" role="button" href="">Khôi phục</a></td>
        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#staticBackdrop">
          Xoá vĩnh viễn
        </button></td>
      </tr>

      
      {{/each}}
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Xoá</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hành động này không thể khôi phục, bạn vẫn muốn xoá khoá học này?
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-delete-modal" class="btn btn-danger">Xoá</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        </div>
      </div>
    </div>
  </div>

</div>

<form method="POST" name="deleteCourseForm"></form>
<form method="POST" name="restoreCourseForm"></form>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>

  const staticBackdrop = document.getElementById('staticBackdrop');
  const btnDeleteModal = document.getElementById('btn-delete-modal');
  const deleteCourseForm = document.forms['deleteCourseForm'];
  const restoreCourseForm = document.forms['restoreCourseForm'];
  const restoreBtns = $('.js-restore-btn');
  let courseId;
  let button;


  staticBackdrop.addEventListener('show.bs.modal', event => {
    button = event.relatedTarget
    courseId = button.getAttribute('data-bs-id');
  })

  btnDeleteModal.onclick = (event) => {
    deleteCourseForm.action = `/courses/${courseId}/force?_method=DELETE`;
    deleteCourseForm.submit();
  }

  restoreBtns.click(function(e) {
    e.preventDefault();
    
    const courseId = $(this).data('bs-id');
    
    restoreCourseForm.action = `/courses/${courseId}/restore?_method=PATCH`;
    restoreCourseForm.submit();
  })

</script>